<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>CF-API</title>
    <meta charset="utf-8">
</head>
<body>
        <div class="wrapper">
            <form action="/" method="post">
            <input name="username" class="input-username" placeholder="username here" type='text' />
            <!-- <input type="submit" style="background-color:#5D4E48;" value="Log in"> -->
            <button class="Submit" >Submit Username</button>
            </form>    
        </div>

    
</body>
</html>
