<!DOCTYPE html>
<html lang="en">
<head>
    <script src="index.ejs"></script>
    <link rel="stylesheet" href="/css/info.css">
    <title>CF-API</title>
    <meta charset="utf-8">
</head>
<body>
        <div class="wrapper">  
            <div class="text-area">
                <p>
                    LOADING
                </p>
            </div>
        </div> 


</body>
</html>
